/* media queries start */
@media (max-width: 1885px) {
    .container {
        width: 80%;
    }
}

@media(max-width: 1630px) {
    .container {
        width: 85%;
    }

    .article-banner__wrapper {
        margin-left: 17%;
    }

    .section-ecosystem__card:not(:nth-child(4n)) {
        margin-right: 25px;
    }

    .section-cluster__block:not(:nth-child(4n)) {
        margin-right: 25px;
    }
}

@media(max-width: 1440px) {
    .article-banner__text {
        width: 80%;
    }

    .article-banner__block-right-part {
        width: 50%;
    }

    .section-privileges__right-block {
        max-width: 530px;
        height: 313px;
    }

    .section-cluster__block:not(:nth-child(4n)) {
        margin-right: 15px;
    }


    .section-privileges__block {
        max-width: 530px;
    }

    .section-privileges__elem {
        max-width: 230px;
    }

    .section-privileges__heading {
        max-width: 530px;
    }

    .section-privileges__indoor-block {
        width: 530px;
    }

    .section-privileges__bot {
        width: 230px;
    }

    .section-ecosystem__card {
        max-width: 250px;
    }

    .section-cluster__block {
        width: 268px;
        height: 233px;
    }

    .section-cluster__menu {
        width: 90%;
    }

    .section-cluster_slide-img {
        max-width: 560px;
        height: 350px;
    }

    .section_heading {
        width: 50%;
    }

    .section-features__block {
        max-width: 560px;
        height: 300px;
    }

    .section-application-resident__left-block {
        width: 560px;
    }

    .section-application-resident__right-btn {
        width: 560px;
    }

    .section-application-resident__heading-btn {
        top: 155px;
        left: 195px;
    }
}

@media(max-width: 1335px) {
    .container {
        width: 90%;
    }

    .header__item-link {
        font-size: 16px;
        line-height: 21px;
    }

    .header__right-part-link>div {
        width: 60px;
        height: 60px;
    }

    .header__right-text {
        font-size: 16px;
        line-height: 22px;
    }

    .article-banner__wrapper {
        margin-left: 10%;
    }

    .article-banner__heading {
        font-size: 40px;
        line-height: 50px;
    }

    .article-banner__text {
        width: 73%;
    }

    .article-banner__block-right-part {
        width: 45%;
    }

    .article-banner__img-banner {
        height: 325px;
    }

    .section_heading {
        font-size: 20px;
        line-height: 25px;
    }

    .section-privileges__bot,
    .section-privileges__elem {
        max-width: 215px;
    }

    .section-privileges__indoor-block,
    .section-privileges__block,
    .section-privileges__heading {
        max-width: 480px;
    }

    .section-privileges__right-block {
        max-width: 480px;
        height: 314px;
    }

    .section-privileges__right-text-block {
        margin-top: 115px;
        margin-left: 85px;
    }

    .section-ecosystem__text {
        font-size: 14px;
        line-height: 17px;
    }

    .text-card_7 {
        margin: 73px 10px;
    }

    .section-location__yandex-menu-heading {
        font-size: 20px;
        line-height: 25px;
    }

    .section-location__yandex-menu-text {
        width: 320px;
        font-size: 14px;
        line-height: 17px;
    }

    .section-location__yandex-menu {
        top: 60px;
        width: 380px;
    }

    .section-cluster__block {
        width: 230px;
        height: 200px;
    }

    .section-cluster__heading {
        font-size: 24px;
        line-height: 29px;
    }

    .section-cluster__list {
        font-size: 13px;
        line-height: 16px;
    }

    .section-cluster__counter {
        font-size: 20px;
        line-height: 25px;
    }

    .section-cluster_slide-img {
        max-width: 480px;
        height: 320px;
    }

    .disabled-arr-left,
    .section-cluster__arrow-left {
        left: 1.3%;
        width: 25px;
        height: 25px;
    }

    .disabled-arr-right,
    .section-cluster__arrow-right {
        right: 1.3%;
        width: 25px;
        height: 25px
    }

    .section-cluster__arr-right,
    .section-cluster__arr-left {
        position: absolute;
        top: 6px;
        right: 6px;
    }

    .section-features__heading {
        font-size: 20px;
        line-height: 25px;
    }

    .section-features__list {
        width: 88%;
        font-size: 14px;
        line-height: 18px;
    }

    .section-features__block {
        max-width: 480px;
        height: 270px;
    }

    .section-features__description-heading {
        font-size: 25px;
        line-height: 30px;
    }

    .section-features__description-heading {
        font-size: 25px;
        line-height: 30px;
    }

    .section-application-resident__list {
        font-size: 14px;
        line-height: 18px;
    }

    .section-application-resident__left-block {
        width: 460px;
    }

    .section-application-resident__right-btn {
        width: 460px;
    }

    .section-application-resident__heading {
        font-size: 20px;
        line-height: 25px;
    }

    .section-application-resident__heading-btn {
        top: 148px;
        left: 166px;
        font-size: 20px;
        line-height: 25px;
    }

    .section-ecosystem__card:not(:nth-child(4n)) {
        margin-right: 15px;
    }

    .section-ecosystem__card {
        max-width: 230px;
        height: 220px;
    }
}

@media(max-width: 1080px) {

    .header__item-link,
    .header__right-text,
    .article-banner__text,
    .section_heading,
    .section-privileges__right-text-block,
    .section-privileges__elem,
    .section-privileges__bot,
    .section-ecosystem__text,
    .section-location__yandex-menu-text {
        font-size: 14px;
        line-height: 17px;
    }

    .header__item {
        margin-right: 20px;
    }

    .header__right-part-link>div {
        width: 50px;
        height: 50px;
    }

    .article-banner__heading {
        font-size: 25px;
        line-height: 30px;
    }

    .article-banner__img-banner {
        height: 250px;
    }

    .article-banner__block-right-part {
        width: 42%;
    }

    .section_heading,
    .section-location__yandex-menu-heading {
        width: 60%;
        font-size: 18px;
        line-height: 22px;
    }

    .section-privileges__bot,
    .section-privileges__elem {
        max-width: 140px;
    }

    .section-privileges__indoor-block,
    .section-privileges__block,
    .section-privileges__heading {
        max-width: 340px;
    }

    .section-privileges__right-block {
        max-width: 340px;
        height: 306px;
    }

    .section-privileges__right-text-block {
        margin-top: 115px;
        margin-left: 50px;
    }

    .section-privileges_right-img {
        width: 225px;
        height: 157px;
    }

    .section-ecosystem__card {
        max-width: 200px;
        height: 190px;
    }

    .text-card_1,
    .text-card_2,
    .text-card_3,
    .text-card_4,
    .text-card_6 {
        margin: 70px 11px;
    }

    .text-card_5 {
        margin: 77px 5px;
    }

    .text-card_7 {
        margin: 37px 15px;
    }

    .section-ecosystem__card:not(:nth-child(3n)) {
        margin-right: 15px;
    }

    .section-ecosystem__card {
        margin-bottom: 15px;
    }

    #map {
        height: 400px;
    }

    .section-location__yandex-menu {
        top: 0;
        right: 0;
        width: 300px;
        height: 350px;
    }

    .section-location__yandex-menu-text {
        width: 240px;
    }

    .section-cluster__heading {
        font-size: 19px;
        line-height: 22px;
    }

    .section-cluster__block {
        width: 210px;
        height: 180px;
    }

    .section-cluster__list {
        font-size: 12px;
        line-height: 14px;
    }

    .section-cluster__block:not(:nth-child(3n)) {
        margin-right: 15px;
    }

    .section-cluster_slide-img {
        max-width: 350px;
        height: 250px;
    }

    .section-features__heading {
        font-size: 18px;
        line-height: 25px;
    }

    .section-features__heading {
        font-size: 18px;
        line-height: 22px;
    }

    .section-features__list {
        width: 100%;
    }

    .section-features__block {
        max-width: 350px;
        height: 270px;
    }

    .section-features__description-heading {
        font-size: 20px;
        line-height: 25px;
    }

    .section-application-resident__heading {
        font-size: 18px;
        line-height: 22px;
    }

    .section-application-resident__heading-btn {
        top: 93px;
        left: 114px;
        font-size: 18px;
        line-height: 22px;
    }

    .section-application-resident__list {
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 15px;
    }

    .section-application-resident__left-block,
    .section-application-resident__right-btn {
        width: 355px;
    }

    .section-application-resident__menu {
        margin-top: 20px;
    }
}

@media(max-width: 800px) {
    .header__content {
        margin-top: 22px;
    }
    .header__left-part,
    .header__middle-part,
    .header__right-part {
        display: none;
    }
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .header__nav-adaptive-block-left,
    .header__nav-adaptive-block-middle,
    .header__burger {
        display: block;
    }

    .article-banner,
    .section-privileges__container,
    .section-ecosystem__container,
    .section-location__container,
    .section-cluster__container,
    .section-features__container,
    .section-application-resident__container,
    .section-features__description,
    .footer{
        margin-top: 40px;
    }
    .article-banner__block-right-part {
        width: 46%;
    }
    .article-banner__wrapper {
        margin-left: 2%;
    }
    .article-banner__text {
        width: 93%;
    }
    .section-privileges__bot,
    .section-privileges__elem {
        max-width: 120px;
    }
    .section-privileges__indoor-block, 
    .section-privileges__block, 
    .section-privileges__heading {
        max-width: 280px;
    }
    .section-privileges__right-block {
        max-width: 280px;
        height: 306px;
    }
    .section-privileges_right-img {
        width: 225px;
        height: 157px;
    }
    .section-privileges__right-text-block {
        margin-top: 115px;
        margin-left: 40px;
    }
    .section_heading, 
    .section-location__yandex-menu-heading {
        width: 75%;
        font-size: 18px;
        line-height: 22px;
    }
    .section-location__yandex-menu {
        top: 0;
        right: 0;
        width: 280px;
        height: 300px;
    }
    .section-location__yandex-menu-text {
        width: 225px;
        padding: 5px 0px;
    }

    .section-features__block {
        max-width: 280px;
        height: 310px;
    }
    .section-features__heading {
        margin: 10px 0px 10px 18px;
        font-size: 17px;
        line-height: 20px;
    }
    .section-features__list {
        width: 87%;
    }
    .section-application-resident__left-block, 
    .section-application-resident__right-btn {
        width: 282px;
    }
    .section-application-resident__menu {
        margin-top: 10px;
    }
    .section-application-resident__list {
        margin-bottom: 3px;
        font-size: 12px;
        line-height: 15px;
    }
    .section-application-resident__heading-btn {
        top: 98px;
        left: 83px;
    }
}

@media(max-width: 600px){
    .container {
        width: 100%;
        padding: 0 50px;
    }
    .article-banner__block,
    .section-privileges__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .article-banner__wrapper {
        margin-left: 9%;
        margin-bottom: 30px;
    }
    .article-banner__heading {
        font-size: 25px;
        line-height: 30px;
    }
    .article-banner__text {
        width: 93%;
    }
    .article-banner__block-left-part {
        width: 100%;
    }
    .article-banner__block-right-part {
        width: 100%;
        text-align: center;
    }
    .article-banner__img-banner {
        height: 280px;
        width: 82%;
    }
    .section-privileges__bot, 
    .section-privileges__elem {
        max-width: 200px;
    }
    .section-privileges__indoor-block, 
    .section-privileges__block, 
    .section-privileges__heading {
        max-width: 450px;
    }
    .section-privileges__right-wrapper{
        display: none;
    }
    .section-privileges__right-adaptive {
        display: block;
        width: 450px;
    }
    .section-privileges_right-img{
        width: 230px;
        height: 157px;
        top: 10%;
        left: 4%;
    }
    .section-privileges__right-text-block{
        width: 80%;
        margin-top: 50px;
        margin-left: 24px;
    }
}

/* media queries end */