*,*::before,*::after {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
* {
    list-style: none;
    text-decoration: none;
    outline: none;
}
body {
    margin: 0;
    padding: 0; 
    background: radial-gradient(100% 100% at 0% 0%, #000000 34.9%, #001B43 79.17%) no-repeat;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    background-attachment: fixed;
    background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
}
img {
    max-width: 100%;
    max-height: 100%;
}
/* обнуляем крестик в формах
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
} */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
/* header start */
.header__content{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.header__middle-part{
    display: flex;
}
.header__nav{
    display: flex;
}
.header__item{
    margin-right: 40px;
    align-self: center;
}
.header__item-link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FAFBFF;
    transition: all 0.4s;
}
.header__item-link:hover{
    text-shadow:  1px 4px 5px rgb(255 255 255 / 70%);
    transition: all 0.4s;
}
.header__right-part{
    display: flex;
}
.header__right-part-block{
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.4s;
    cursor: pointer;
}
.header__right-part-link{
    min-width: max-content;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    transition-duration: 0.2s;
    background: transparent;
    border: none;
}
.header__right-part-link{
    cursor: pointer;
}
.header__right-part-block:hover div{
    cursor: pointer;
    opacity: 1;
    border: 3px solid #00D1FF;
    transition: all 0.4s;
}
.header__right-part-block:active div{
    border: 1.5px solid #00D1FF;
}
.header__right-part-link > div {
    width: 70px;
    height: 70px;
    opacity: 0.3;
    border: 2px solid rgb(0, 209, 255);
    box-sizing: border-box;
    filter: drop-shadow(rgb(0, 209, 255) -1px -1px 5px);
    border-radius: 50%;
    transition: all 0.4s;
}
.header__right-text{
    font-family: 'Exo 2';
    transform: translateX(-30px);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FAFBFF;
}
/* header end */
/* article-banner start*/
.article-banner{
    margin-top: 100px;
}
.article-banner__block{
    display: flex;
}
.article-banner__block-left-part{
    display: flex;
    width: 60%;
}
.article-banner__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 142px;
}
.article-banner__heading{
    margin-bottom: 20px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 54px;
}
.article-banner__text{
    width: 71%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.article-banner__block-right-part{
    width: 64%;
    text-align: end;
}
.article-banner__img-banner{
    box-shadow: -13px -15px #0428a8;
    border-radius: 10px;
}
/*article-banner end */

/* section-privileges start */
.section-privileges__container{
    margin-top: 100px;
}
.section-privileges__wrapper{
    display: flex;
    justify-content: space-between;
}
.section_heading{
    width: 45%;
    margin-bottom: 40px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}
.section-privileges__block{
    display: flex;
    width: 580px;
    justify-content: space-between;
    margin-bottom: 10px;
}
.section-privileges__hard-block{
    margin-bottom: 12px;
}
.section-privileges__elem{
    background: #FFFFFF;
    padding: 15px 0 15px 0;
    border-radius: 10px;
    color: black;
    width: 270px;
    text-align: center;
}
.section-privileges__heading{
    margin-bottom: -1px;
    width: 580px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.section-privileges__indoor-block{
    display: flex;
    justify-content: space-between;
    width: 580px;
}
.section-privileges__bot{
    background: #FFFFFF;
    padding: 15px 0 15px 0;
    border-radius: 10px;
    color: black;
    width: 270px;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.section-privileges__right-wrapper{
    display: flex;
    flex-direction: column;
}
.section-privileges__right-block{
    position: relative;
    width: 600px;
    height: 300px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.section-privileges__right-text-block{
    width: 73%;
    margin-top: 120px;
    margin-left: 100px;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}
.section-privileges_right-img{
    display: inline-block;
    position: absolute;
    top: 32%;
    left: 2%;
    width: 213px;
    height: 240px;
}
.section-privileges__right-svg-first{
    background-image: url(../img/svg/01.svg);
    background-repeat: no-repeat;
}
.section-privileges__right-svg-second{
    background-image: url(../img/svg/02.svg);
    background-repeat: no-repeat;
}
.section-privileges__right-svg-third{
    background-image: url(../img/svg/03.svg);
    background-repeat: no-repeat;
}
/* section-privileges end */

/* section-ecosystem start */
.section-ecosystem__container{
    margin-top: 90px;
}
.section-ecosystem__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-ecosystem__card{
    margin-bottom: 30px;
    width: 280px;
    height: 233px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.section-ecosystem__card:not(:nth-child(4n)){
    margin-right: 48px;
}
.section-ecosystem__text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
.text-card_1{
    margin: 79px 11px 78px 10px;
}
.text-card_2{
    margin: 88px 11px;
}
.text-card_3{
    margin: 88px 6px 88px 16px;
}
.text-card_4{
    margin: 79px 10px 78px 12px;
}
.text-card_5{
    margin: 95px 4px 105px 3px;
}
.text-card_6{
    margin: 88px 4px;
}
.text-card_7{
    margin: 69px 3px;
}
/* section-ecosystem end */

/* section-location start */
.section-location__container{
    margin-top: 100px;
}
#map{
    width: 100%;
    height: 470px;
}
.yandex-map{
    position: relative;
}
[class*="ground-pane"]{
    filter: grayscale(1);
  }
#map > ymaps {
    border-radius: 10px;
    overflow: hidden;
}
.section-location__yandex-menu{
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 360px;
    background: #FFFFFF;
    border-radius: 10px;
}
.section-location__yandex-menu-heading{
    margin: 28px 0 30px 0;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #010101;
    text-align: center;
}
.section-location__yandex-menu-text{
    margin-bottom: 10px;
    width: 372px;
    padding: 10px 0;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}   
[class*="copyrights-pane"] {
	display: none !important;
}
/* section-location end */

/* section-location start */
.section-cluster__container{
    margin-top: 100px;
}
.section-cluster__wrapper{
    display: flex;
    flex-wrap: wrap;
}
.section-cluster__block{
    position: relative;
    margin-bottom: 20px;
    width: 280px;
    height: 233px;
    border-radius: 10px;
}
.section-cluster__block:not(:nth-child(4n)) {
    margin-right: 49px;
}
.section-cluster__block::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 10px;
    z-index: 2;
}
.section-cluster_img-1{
    width: 281px;
    height: 233px;
    background: no-repeat center url("../img/png/cluster_1.png");
    background-size: cover;
}
.section-cluster_img-2{
    width: 281px;
    height: 233px;
    background: no-repeat center url("../img/png/cluster_2.png");
    background-size: cover;
}
.section-cluster_img-3{
    width: 281px;
    height: 233px;
    background: no-repeat center url("../img/png/cluster_3.png");
    background-size: cover;
}
.section-cluster_img-4{
    width: 281px;
    height: 233px;
    background: no-repeat center url("../img/png/cluster_4.png");
    background-size: cover;
}
.section-cluster_img-5{
    width: 281px;
    height: 233px;
    background: no-repeat center url("../img/png/cluster_5.png");
    background-size: cover;
}
.section-cluster_img-6{
    width: 281px;
    height: 233px;
    background: no-repeat center url("../img/png/cluster_6.png");
    background-size: cover;
}
.section-cluster_img-7{
    width: 281px;
    height: 233px;
    background: no-repeat center url("../img/png/cluster_7.png");
    background-size: cover;
}
.section-cluster_img-8{
    width: 281px;
    height: 233px;
    background: no-repeat center url("../img/png/cluster_8.png");
    background-size: cover;
}
.section-cluster__inside-block{
    position:absolute;
    top: 15px;
    left: 0;
    z-index: 3;
}
.section-cluster__heading{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    z-index: 4;
}
.section-cluster_padding{
    margin-left: 25px;
}
.section-cluster__menu{
    width: 85%;
    margin-top: 20px;
    margin-left: 18px;
}
.section-cluster__list{
    margin-left: 18px;
    list-style: disc !important;
}
.section-cluster__slider{
    margin-top: 100px;
    display:flex;
    flex-direction: column;
    transition: all 0.4s;
}
.section-cluster__counter{
    margin-bottom: 20px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}
.section-cluster__arrow-left{
    position: absolute;
    left: 50px;
    width: 41px;
    height: 41px;
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(1px 1px 10px #A6ABBD);
}
.section-cluster__slider-inside-block{
    display: flex;
    align-items: center;
}
.section-cluster__slider-block{
    position: relative;
    width: 1265px;
    overflow: hidden;
}
.section-cluster__slider-inner{
    display: flex;
    transition: all 0.3s ease 0.3s;
}
.section-cluster__slide{
    display: flex;
    justify-content: space-between;
}
.section-cluster_slide-img{
    width: 608px;
    height: 400px;
}
.section-cluster__arrow-right{
    position: absolute;
    right: 55px;
    width: 41px;
    height: 41px;
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(1px 1px 10px #A6ABBD);
    transition: all 0.4s;
}
.section-cluster__arrow-right:hover, 
.section-cluster__arrow-left:hover{
    border: 2px solid #FFFFFF;
    filter: drop-shadow(-1px -1px 8px #FAFBFF);
    cursor: pointer;
    transition: all 0.4s;
}
.section-cluster__arrow-right:active{
    border: none;
    transform: rotate(90deg);
    cursor: pointer;
    transition: all 0.4s;
}
.section-cluster__arrow-left:active{
    border: none;
    transform: rotate(-90deg);
    cursor: pointer;
    transition: all 0.4s;
}
.disabled-arr-left{
    position: absolute;
    left: 50px;
    width: 41px;
    height: 41px;
    border-radius: 100px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    opacity: 0.5;
    filter: drop-shadow(1px 1px 10px #A6ABBD);
}
.disabled-arr-right{
    position: absolute;
    right: 55px;
    width: 41px;
    height: 41px;
    border-radius: 100px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    opacity: 0.5;
    filter: drop-shadow(1px 1px 10px #A6ABBD);
}
/* section-location end */

/* section-features start */
.section-features__container{
    margin-top: 100px;
}
.section-features__wrapper{
    display: flex;
    justify-content: space-between;
}
.section-features__block{
    width: 608px;
    height: 286px;
    background: #FFFFFF;
    color: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.section-features__heading{
    margin: 20px 0 20px 20px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}
.section-features__menu{
    margin-left: 25px;
}
.section-features__list{
    width: 93%;
    list-style: disc !important;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
.section-features__description{
    margin-top: 100px;
}
.section-features__description-heading{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #00D1FF;
}
/* section-features end */

/* section-application-resident start */
.section-application-resident__container{
    margin-top: 100px;
}
.section-application-resident__wrapper{
    display: flex;
    justify-content: space-between;
}
.section-application-resident__left-block{
    width: 608px;
    display: flex;
    flex-direction: column;
}
.section-application-resident__heading{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
.section-application-resident__menu{
    margin-top: 40px;
}
.section-application-resident__list{
    margin-bottom: 20px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.section-application-resident__right-block{
    display:flex;
    transition: all 0.4s;
}
.section-application-resident__right-btn{
    position: relative;
    width: 608px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #00D1FF;
    border-radius: 10px;
    transition: all 0.4s;
}
.section-application-resident__right-btn:hover{
    background-color: #00D1FF;
    cursor: pointer;
    transition: all 0.4s;
}
.section-application-resident__heading-btn{
    position: absolute;
    top: 140px;
    left: 220px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
/* section-application-resident end */

/* footer start */
.footer{
    height: 267px;
    margin-top: 100px;
    background: rgba(152, 152, 152, 0.3);
    border-radius: 10px;
}
/* footer end */

/* modal window start */
.modal-resident{
    display: none;
}
.modal-resident_show{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
}
.modal-resident__dialog{
    max-width: 828px;
    margin: 50px auto;
}
.modal-resident__content{
    position: relative;
    margin: 20px auto;
    width: 826px;
    height: 750px;
    background: radial-gradient(100% 100% at 0% 0%, rgba(0, 27, 67, 0.95) 0%, rgba(0, 0, 0, 0.95) 100%);
    max-height: 90vh;
    overflow-y: auto;
}
.modal__form{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: 50px;
}
.modal-resident__close{
    position: absolute;
    top: 30px;
    right: 25px;
    background-image: url(../img/svg/mark.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.modal-resident__block-for-btn{
    position: absolute;
    display: flex;
    top: 85px;
    right: 120px
}
.modal-resident__left-part{
    margin-right: 85px;
}
.modal-resident__title-text{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FAFBFF;
}
.modal-resident__input{
    padding: 3px 0 7px 5px;
    margin-bottom: 30px;
    width: 235px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FAFBFF;
    background-color: transparent;
    border: none;
    border-bottom: 0.3px solid #FAFBFF;
    outline: none;
}
.modal-resident__checkbox-option{
    margin-bottom: 100px;
    margin-left: 215px;
}
.modal-resident__checkbox-option:hover{
    cursor:pointer;
}
.modal-resident__checkbox-text{
    border: 0;
    border-bottom: 0.3px solid #FAFBFF;
}
.modal-resident__checkbox-input{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.4s;
}
.modal-resident__checkbox-input:checked + span {
    background: url(../img/svg/ellipse.svg) no-repeat center;
    background-size: 35%;
    transition: all 0.4s;
}
.modal-resident__new-check{
    position: absolute;
    margin-left: -27px;
    width: 1em;
    height: 1em;
    opacity: 0.7;
    border: 0.6px solid #FFFFFF;
    filter: drop-shadow(-1px -1px 5px #FFFFFF);
    border-radius: 1000px;
}

/* modal window end */