html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Verdana, sans-serif;
    background-color: rgb(226,233,243);
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1200px;
    padding: 160px 15px;
    margin: 0 auto;
    text-align: center;
}

.btn {
    background-color: rgb(0,94,255);
    color: white;
    padding: 20px 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 20px;
    text-transform: uppercase;
    transition: transform .4s, outline-color .4s;
    outline: 1px solid transparent;
    outline-offset: 4px;
}

.btn:focus-visible {
    outline-color: rgb(0,94,255);
}

.btn:hover {
    transform: scale(1.03);
}
.btn:active {
    transform: scale(0.97);
}

.flash-btn{
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px rgb(0,94,255,.4);
}

.flash-btn::after{
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    opacity: .02;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
    transition: transform .4s, opacity .3s;
}
.flash-btn:hover::after{
    transform: scale(5);
    opacity: .14;
}
.flash-btn:active {
    transition: transform .4s, outline-color .4s, box-shadow .4s;
    box-shadow: 0px 0px 0px 20px rgb(0,94,255,0);
}
